@font-face {
  font-family: "Open Sans", sans-serif;
}

body{ 
  width: 100%;
  margin: 0 auto;
  background-image: url("purple_haze.jpg");
  position: absolute;
}

h1 {
  color: #FFE171;
  font-style: "Open-Sans";
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding-right: 90px;
}

#container { 
  width: 1300px;
  height: 600px;
  background-image: url("orginal_space.jpg");
  position: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 40px;
  border: 5px solid;
  border-color: #6E77B0;
}

.letter {
  width: 250px;
  height: 10px;
  background-color: transparent;
  border: 5px solid;
  color: #FFE171;
  font-size: 50px;
  padding-bottom: 290px;
  font-style: "Open-Sans";
  text-align:center;
  border-radius: 150px;
  background-image: url("kitty_power.jpg");
  position: absolute;
  border-color: #959EC8;
}

#message {
  color: #FFE171;
  font-style: "Open-Sans";
  float: right;
}

#counter { 
  font-size: 30px;
  color: white;
  font-style: "Open-Sans";
  width: 90px;
  display: inline;
  height: 20px;
 }

#resetButton{
  background-color:#028482;
  color:white;
  width:130px;
  height:40px;
  border-radius:9px;
  font-size:14px;
  font-weight:bold;
  border: 2px solid black;
  font-style:"Open-Sans";
  cursor:pointer;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 40px;
  
}

#resetButton:hover{
  background-color: lightgreen;
}

@media only screen and (max-width: 400px){
